section.os-historico{
    margin: 0 1rem 1rem;
    overflow: auto;
    padding: 0 .5rem;
    max-width: max-content;
    min-height: 40vw;
    position: relative;
}

section.os-historico div{
    background-color: white;
    padding: 1rem;
    font-size: var(--font-size-title);
    margin: .5rem 0;
    display: flex;
    width: fit-content;
}

section.os-historico div span{
    display: flex;
    width: 30rem;
    padding: 0 .5rem;
    justify-content: center;
    align-items: center;
}

section.os-historico div span:not( :last-child){
    border-right: var(--bg-color) solid 5px;
}

section.os-historico > div :first-child{
    justify-content: right;
    width: 20rem;
    padding-right: 1rem;
}

section.os-historico > div :nth-child(2) p{
    width: 140ch;
}

section.os-historico div p{
    display: block;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

section.os-historico .pages span{
    justify-content: center;
    align-items: center;
    width: 3rem;
    padding: 0;
    margin: 0 .1rem;
    aspect-ratio: 1/1;
    background-color: white;
    cursor: pointer;
}

section.os-historico .pages .current {
    background-color: rgb(241, 241, 241);
}

section.os-historico .pages{
    background-color: initial;
}

aside div:not([class="links"]){
    display: block;
    background-color: var(--blue);
    margin-top: 2rem;
    padding: .5rem 1rem;
    font-size: var(--font-size-title);
}

aside div:not([class="links"]) > a,
aside div:not([class="links"]) > a:hover {
    background-color: initial;
    color: white;
}

aside div:not([class="links"]):hover{
    color: white;
    background-color: #909ee4;
}

section.os-historico div[name="entry"] span img{
    height: 4rem;
    width: 4rem;
    padding: 0;
    border-radius: .3rem;
    object-fit: scale-down;
}

section.os-historico div[name="entry"] span:has(>img){
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    width: fit-content;
}

section.os-historico div[name="entry"] :first-child :last-child{
    width: 5rem;
}

/*
section.os-historico div p::after {
    content: attr(title);  
    z-index: 6;
    top: 0; 
    left: 0;
    color: red;
}
*/
